<%- include('partials/header') %>

<div class="main-content index_container">
    <h1>Welcome to the Math Competition App!</h1>
    <p>
        <% if (streak > 0) { %>
            Your last recorded streak: <%= streak %>
        <% } else { %>
            No streak yet. Start a quiz to track your streak!
        <% } %>
    </p>
    <div class="navigation__container">
        <a href="/quiz">Start New Quiz</a>
        <a href="/leaderboards">View Leaderboards</a>
    </div>
</div>
</body>
</html>
